.place__url-heading {
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
	color: var(--text-grey);
	margin: 0 0 12px 0;
	box-sizing: border-box;
	text-transform: uppercase;
}
